chromadb==1.0.20
Django==5.2.5
django_cors_headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf_spectacular==0.28.0
langchain==0.3.27
langchain_community==0.3.29
langchain_huggingface==0.3.1
matplotlib==3.10.6
numpy==2.3.2
opencv_python==4.12.0.88
opencv_python_headless==4.10.0.84
pdfplumber==0.11.7
Pillow==11.3.0
python_docx==1.2.0
python_pptx==1.0.2
openai>=1.0.0
python-dotenv>=1.0.0
# qwen_vl_utils==0.0.11   # 改用 DeepSeek API 后可不装
rfdetr==1.1.0
sentence_transformers==5.0.0
supervision==0.26.1
torch==2.7.1+cu128
tqdm==4.67.1
